<nav class="navbar-lewagon">
  <h2>Add New Ute</h2>
  <div class="nav-links">
    <%= link_to 'Home', '/' %>
    <%= link_to 'Dashboard', '/dashboard' %>
  </div>
</nav>

<div class="d-flex justify-content-center">
    <div class="card" style=" margin-top:40px; background-color:white;">
      <div style=" padding: 40px;">
      <h2>Enter your ute details</h2>
      <br>
        <%= render "form", ute: @ute %>
        </div>
  </div>
</div>
