.dashboard-tab {
  width: 32%;
  margin: 20px;
}

.badge a {
  color: white;
  font-weight: lighter;
  text-decoration: none;
}

.dashboard {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.btn:hover {
  color: white;
}
