.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 20px;
}

.navbar-lewagon h2 {
  margin: 0 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.nav-links a:hover {
  color: rgb(160, 160, 160);
  transition: 0.3s;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
